[submodule "Segmentation_FetalMRI"]
	path = Segmentation_FetalMRI
	url = https://github.com/SVRTK/Segmentation_FetalMRI.git
	branch = dev
[submodule "MIRTK"]
	path = MIRTK
	url = https://github.com/SVRTK/MIRTK.git
[submodule "SVRTK"]
	path = SVRTK
	url = https://github.com/SVRTK/SVRTK
